@tailwind base;
@tailwind components;
@tailwind utilities;


.wrapText {
  @apply whitespace-normal break-words max-w-lg; /* You can use max-w-md, max-w-xl, etc., to set the desired maximum width */
}
.scrollable-column {
  max-height: 100px; 
  overflow-y: auto;
}
.ant-table table { font-size: 12px; }
.loginLayout::before {
  content: "";
  background-image: url('./assets/evsubackground.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}